body {
	font-family: arial, helvetica, sans-serif;
	font-size:0.8em;
	color:#333;
	margin:0;
}
h1 {
	font-size:1.1em;
	text-align:center;
	margin:5px;
}
th {
	text-align:left;
	vertical-align:top;
}
input {
	border:1px solid #333;
	font-size:12px;
}
form {
	margin:0px;
}
img {
	border:0;
	padding:0;
	margin:0;
}
#url {
	float:right;
	margin:5px;
}
#pngDiv {
	position:absolute;
	text-align:center;
	width:100%;
	line-height:1em;
	margin:0;
	padding:0;
}
#overflowDiv {
	position:absolute;
	left:0;
	top:130px;
	width:100%;
	overflow-y:auto;
}
#overflowDiv p {
	text-align:center;
	padding:0;
	margin:0;
}
#webPageFrame {
	z-index:1;
	border-top:1px solid #888;
}
.error {
	color:#fff;
	background-color:#f00;
}
#helpDiv {
	padding:2px;
	margin:0 5px;
	border:1px dashed #446;
	background-color:#ddf;
	display:none;
}
acronym {
	font-weight:bold;
	border:1px solid #446;
	background-color:#ddf;
	color:#446;
	padding:1px;
}